<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Project.Cemedi" description="Cemedi content" dependencies="Foundation.Serialization,Foundation.Assets,Foundation.Multisite,Feature.Accounts,Feature.Demo,Feature.Identity,Feature.Language,Feature.Media,Feature.Metadata,Feature.Multisite,Feature.Navigation,Feature.News,Feature.PageContent,Feature.Doctor,Feature.Search,Feature.Social,Feature.Teasers,Project.Common.Website,Project.Demo.Website" patch:after="configuration[@name='Foundation.Serialization']">
          <targetDataStore physicalRootPath="$(sourceFolder)\project\Cemedi\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Project.Cemedi.Templates" database="master" path="/sitecore/templates/Project/Cemedi" />
            <include name="Project.Cemedi.Renderings" database="master" path="/sitecore/layout/renderings/Project/Cemedi" />
            <include name="Project.Cemedi.Layouts" database="master" path="/sitecore/layout/layouts/Project/Cemedi" />
            <include name="Project.Cemedi.PlaceholderSettings" database="master" path="/sitecore/layout/placeholder settings/Project/Cemedi" />
            <include name="Project.Cemedi.Models" database="master" path="/sitecore/layout/models/Project/Cemedi" />

            <include name="Project.Cemedi.Content" database="master" path="/sitecore/content/Cemedi"/>
            <include name="Project.Cemedi.Media" database="master" path="/sitecore/media library/Cemedi"/>

            <!--<include name="Project.Website.Profiling" database="master" path="/sitecore/system/Marketing Control Panel/Profiles/Cemedi"/>
            <include name="Project.Website.Outcomes" database="master" path="/sitecore/system/Marketing Control Panel/Outcomes/Cemedi"/>
            <include name="Project.Website.EngagementPlans" database="master" path="/sitecore/system/Marketing Control Panel/Engagement Plans/Cemedi"/>
            <include name="Project.Website.Campaigns" database="master" path="/sitecore/system/Marketing Control Panel/Campaigns/Cemedi"/>
            <include name="Project.Website.Goals" database="master" path="/sitecore/system/Marketing Control Panel/Goals/Cemedi"/>
            <include name="Project.Website.Lists" database="master" path="/sitecore/system/List Manager/All Lists/Cemedi"/>
            <include name="Project.Website.Social.Accounts" database="master" path="/sitecore/system/Social/Accounts/Cemedi"/>
            <include name="Project.Website.Social.Applications" database="master" path="/sitecore/system/Social/Applications/Default/Cemedi"/>
            <include name="Project.Website.Social.Klout" database="master" path="/sitecore/system/Social/Klout/Applications/Default/Cemedi"/>-->
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>